footer {
  height: 300px;
  color: white;
  position: absolute;
  bottom: 0;
  width: 100%;
  p {
    margin: 0;
  }
}

.horizontalLine {
  height: 3px;
  background: linear-gradient(to right, #74cee4 0%, #66ce9c 16%, #edbf47 32%, #ec774b 49%, #74cee4 65%, #66ce9c 83%, #edbf47 100%);
}

.subfooter {
  height: 200px;
  color: white;
  padding: 10px;
}

.subfooter .title {
  margin: 0;
  text-align: center;
  font-size: 40px;
}

.honeIcon {
  text-align: center;
}

.honeIcon img {
  width: 120px;
}

#copyrightLogo {
  height: 100px;
  color: white;
  line-height: 100px;
  padding-left: 50px;
  background-repeat: no-repeat;
  background-position: left;
  background-size: contain;
}
