@import "./*";
@import url(https://fonts.googleapis.com/css?family=Abel);
@import "../components/**/*";

/* User Agent Stylesheet */
html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 350px !important;

  & > .container {
    padding-top: 150px;
  }
}

* {
  font-family: 'Abel', sans-serif;
}


.bg_greydark {
  background-color: #495052;
}

.bg_greydarker {
  background-color: #404547;
}

.actions {
  float: right;
}

.headImage .imgContainer {
  max-height: 250px;
  overflow: hidden;
}

.headImage .imgContainer img {
  width: 100%;
  opacity: 0.5;
}

h1, h2, h3, h4, h5 {
  text-align: center;
}
