nav.menu {
  min-height: 70px;
  line-height: 70px;
  top: 0;
  left: 2.5%;

  .honeIcon {
    width: 64px;
  }

  a {
    margin: 0 10px;
    font-size: 20px;

    &:link, &:visited, &:hover, &:active {
      text-decoration: none;
    }
  }

  .normal {
    color: #FF7A30;

    &:link, &:visited, &:hover, &:active {
      color: #FF7A30;
    }
  }

  .profile {
    &:link, &:visited, &:hover, &:active {
      color: #2DB0FF;
    }
  }

  .logout {
    &:link, &:visited, &:hover, &:active {
      color: #FF005E;
    }
  }

  #navList {
    text-align: center;
    margin: 0;
    padding: 0;

    li {
      display: inline-block;

      & + li:before {
        content: " | ";
        font-size: 23px;
        color:#ccc;
      }
    }
  }

  .nav-right {
    float: right;
  }

  .nav-left {
    float: left;
  }
}
