#user_type {
  display: table;
  margin: 0 auto !important;
}

.country-select {
  width: 100%;
}

.country-select .flag {
	background-image: url("../assets/images/flags.png") !important;
}

.select2 {
  width: 100% !important;
}
