.headImage.skill .imgContainer {
  max-height: 100px;
  overflow: hidden;
}

.game-list {
  overflow-x: scroll;
  white-space: nowrap;
}

.game-list::-webkit-scrollbar {
    -webkit-appearance: none;
}

.game-list::-webkit-scrollbar:vertical {
    width: 11px;
}

.game-list::-webkit-scrollbar:horizontal {
    height: 11px;
}

.game-list::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 2px solid white;
    background-color: rgba(0, 0, 0, .5);
}

.game-list::-webkit-scrollbar-track {
    background-color: #fff;
    border-radius: 8px;
}

.skill-header .icon {
  background-color: #2DB0FF;
  text-align: left;
  padding-top: 12px;
  padding-left: 12px;
  vertical-align: top;
  width: 100px;
}

#skill-information {
  margin-top: 100px;
}

.platform_ctn {
  text-align: center;
  margin-top: 50px;
}

.icon-bg {
  background-color: #2DB0FF;
  height: 100px;
}

.container {
  padding-left: 0 !important;
}

.skill-header .header {
  text-align: left;
  height: 100px;
}

#skill-information hr, .skill-header hr {
  border-width: 1px !important;
  margin-top: 0px;
  margin-bottom: 5px;
}

.skill-header .header > div {
  min-height: 100px;
  display: inline-block;
  vertical-align: middle;
}

.category {
  color: #FF005E;
  margin-bottom: 0;
}

.skill-header .details ul {
  text-align: left;
  list-style: none;
}

.skill-header .details {
  border-right: 1px solid #888;
  font-weight: bold;
  vertical-align: top;
  padding-top: 12px;
}

.skill-header .desc {
  vertical-align: top;
  margin-left: 20px;
  padding-top: 12px;
}

.game {
  width: 150px;
  display: inline-block;
  margin-left: 20px;
}

.game a, .game a:hover, .game a:focus {
  text-decoration: none;
  color: #888;
}

.game .header .title {
  text-align: center;
  font-size: 18px;
  margin-bottom: 0px;
}

.game .body img {
  width: 100%;
}

.rating {
  text-align: center;
}

.rating img {
  width: 20px;
  height: 20px;
}

.skill-header {
  .headImage .imgContainer img {
      width: 100%;
      opacity: 0.9;
      margin-top: -300px;
  }
}
