.welcome {
  text-align: center;
  .col-md-4 {
    margin-top: 58px;
    text-align: center;
    img {
      display: inline;
      margin: 28px auto;
    }
    a.btn {
      margin: 28px;
    }
  }
}
.weSupport {
  a:link, a:visited, a:hover, a:active {
    text-decoration: none;
  }
  margin-top: 32px;
  background: #efeeee;
  text-align: center;
  img {
    display: inline-block;
    padding: 42px;
  }
}

