[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/prismacon
[access "refs/for/refs/*"]
	read = group user/prismacon
	push = group user/prismacon
	label-Code-Review = -2..+2 group user/prismacon
	label-Verified = -1..+1 group user/prismacon
	rebase = group user/prismacon
	removeReviewer = group user/prismacon
	submit = group user/prismacon
[access "refs/heads/*"]
	read = group user/prismacon
	create = group user/prismacon
	push = +force group user/prismacon
	pushMerge = group user/prismacon
[access "refs/tags/*"]
	push = +force group user/prismacon
	pushTag = group user/prismacon
	pushSignedTag = group user/prismacon
