[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group hone
	owner = group user/prismacon
[access "refs/for/refs/*"]
	read = group hone
	read = group user/prismacon
	push = group hone
	push = group user/prismacon
	label-Code-Review = -2..+2 group hone
	label-Code-Review = -2..+2 group user/prismacon
	label-Verified = -1..+1 group hone
	label-Verified = -1..+1 group user/prismacon
	rebase = group hone
	rebase = group user/prismacon
	removeReviewer = group hone
	removeReviewer = group user/prismacon
	submit = group hone
	submit = group user/prismacon
[access "refs/heads/*"]
	read = group hone
	read = group user/prismacon
	create = group hone
	create = group user/prismacon
	push = group hone
	push = +force group user/prismacon
	pushMerge = group hone
	pushMerge = group user/prismacon
[access "refs/tags/*"]
	push = group hone
	push = +force group user/prismacon
	pushTag = group hone
	pushTag = group user/prismacon
	pushSignedTag = group hone
	pushSignedTag = group user/prismacon
