<% if flash[:notice] %>
    <div class="alert-info alert"><%= flash[:notice] %></div>
<% end %>
<% if flash[:error] %>
    <div class="alert-danger alert"><%= flash[:error] %></div>
<% end %>
<% if flash[:alert] %>
    <div class="alert-danger alert"><%= flash[:alert] %></div>
<% end %>
