<footer>
  <div class="horizontalLine gradient"></div>
  <section class="subfooter bg_greydark">
    <div class="honeIcon">
      <img src="<%= gulp_asset_path("images/kidmooc.svg") %>" alt="">
    </div>
    <div class="title">
      Hone
    </div>
  </section>
  <div class="bg_greydarker">
    <div id="copyrightLogo">
      <p>&copy; 2014 - 2016 Hone. All rights reserved.<a href="/imprint" id="imprint">Imprint</a></p>
    </div>
  </div>
</footer>
