<div class="horizontalLine bg_gardient"></div>

<section class="subfooter bg_greydark">
  <div class="honeIcon">
    <%= image_tag "kidmooc.svg" %>
  </div>
  <div class="title">
    Hone
  </div>

</section>

<footer class="bg_greydarker">
    <p id="copyright">&copy; 2014 - 2016 Hone. All rights reserved.</p>
</footer>
