<section id="sectionTop" class="headImage">
  <div class="imgContainer">
    <div id="headerImage"/>
    <div class="container">
      <h1>Learning has never <br> been more fun...</h1>
    </div>
  </div>
</section>
<div class="horizontalLine gradient"></div>
