<div class="container play">
  <img src="<%= gulp_asset_path('images/skills-page.png') %>">
  <h1>Ready to play?</h1>
  <div class="buttonHolder">
    <%= link_to 'Log in', new_user_session_path, class: 'btn btn-lg btn-primary-outline' %>
    <%= link_to 'Sign up', new_user_registration_path, class: 'btn btn-lg btn-danger' %>
  </div>
</div>
