<div class="grade">
  <div>
    <img id="grade-{{this.name}}" src="assets/images/grade-{{this.name}}_completed.png" alt="" />
  </div>
  <div>
    <div class="grade-number">
      {{this.completed}}/{{this.overall}}
    </div>
  </div>
</div>
