/* Nav bar */
/*submenu */
.submenu{
  background-color: #3780BF;
  color: white;
  height: 50px;
  line-height: 50px;
}

.button-link {
  border-radius: 10px 10px 10px 10px;
  border: 2px solid white;
  color: #0099cc;

}

.navbar-nav .button-link {
  line-height: 0px;
  top: 8px;
  height: 30px;
}

.button-link a {
  padding-top: 10px;
}

.submenu a {
  color: white;
  font-weight: bold;
}

.submenu ul.nav a:hover {
  color: #FFF !important;
  background-color: #3780BF !important;
}

#nav-radius{
  position: absolute;
  left: 60%;
  top: 10px;
}


.ribbon {
    display: block;
    position: absolute;
    z-index: 1;
    top: 10px;
    width: 60%;
    height: 40px;
    background: #fff;
}

/* menu */

.menu {
    border-bottom: 4px solid #f1f1f1;
    height: 54px;
    background-color: white;
}

.menu ul li a {
    border-bottom: 4px solid transparent;
    margin-bottom: -4px;
}

.menu a {
  color: black;
  font-weight: bold;
}

.menu ul.nav a:hover {
  color: #3780BF !important;
  border-color: #3780BF !important;
  background-color: white !important;
}

.active a {
  color: #3780BF !important;
  border-color: #3780BF !important;
  background-color: #FFF !important;
}

.menu.navbar-fixed-top{
  padding-right: 15px !important;
}

/* body */
body{
  font-family: OpenSans;
}

.content .gradeContainer{
  margin: auto;
}

.content .mainContainer{
  margin: auto;
}

/* grade Container */

.gradeContainer{
  text-align: center;
  width: 90%;
  height: 200px;
  background-color: white;
}

#gradeInfo{
  height: 150px;
  width: 150px;
}

.bigProgress{
  width: 500px;
  margin: auto;
}

#gradeProgress{
  width: 70%;
}

/* MainContainer */
.mainContainer{
  text-align: center;
  background-color: white;
  width: 90%;
  height: 40em;
}

/* Course */
.coursesRow{
  width: 90%;
  height: 300px;
  margin: auto;
  background-color: #eee;
}

.courseRowHeader h1{
  margin-top: 0px;
  text-align: left;
  margin-left: 60px;
}

.course{
  box-shadow: 1px 0px 1px grey;
  width: 150px;
  margin-top: 20px;
}

.courseRowBody {
  text-align: left !important;
}

.courseRowBody li {
  margin-left: 30px;
}
.courseRowBody li:first-child{
  margin-left: 70px;
}

.courseRowBody ul{
  padding-left: 0px !important;
}

.course a{
  display: block;
}

.courseLink:hover{
  text-decoration: none;
}

.courseImage img{
  width: 100%;
}

.courseImage {
  width: 150px;
  height: 150px;
  background-color: #151515;
}

.details{
  background-color: white;
  height: 55px;
  text-align: center;
  padding: 0 10px 0 10px;
  margin-top: 3px;
}

.details .progress{
  margin-top: 3px;
}

#mathProgress{
  width: 70%;
}

#englishProgress{
  width: 90%;
}

#musicProgress{
  width: 100%;
}

#religionProgress{
  width: 100%;
}

#artProgress{
  width: 20%;
  color: black;
}

.progress {
    position: relative;
}

.progress span {
    position: absolute;
    display: block;
    width: 100%;
 }

.title {
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 0px;
    margin-top: 3px;
    min-height: 17px;
    color: black;
}

ul li{
  display: inline-block;
}

/* Carousel */
.carousel-indicators{
  top: 230px !important;
  left: 46% !important;
}

.carousel-indicators li{
  border: 1px solid grey !important;
}

.carousel-indicators .active{
  background-color: grey !important;
}

.carousel-control{
  color: black !important;
}

.carousel-control.right{
  height: 50px;
  width: 50px;
  color: black;
  background-image: none !important;
  margin-top: auto;
  margin-bottom: auto;
}

.carousel-control.left{
  height: 50px;
  width: 50px;
  color: black;
  background-image: none !important;
  margin-top: auto;
  margin-bottom: auto;
}

.carousel-control:hover,
.carousel-control:focus{
  color: black !important;
}


/* footer */
#copyright {
    text-align: center;
    display: block;
    line-height: 40px;
}

footer {
    bottom: 0;
    height: 40px;
    width: 100%;
    border-top: 4px solid #f1f1f1;
}
