@import "bootstrap-sprockets";
@import "bootstrap";
.boundaries {
	width: 80%;
	margin-left: 120px;
	margin-top: 20px;
}
.login-form {
	margin: 100px 150px auto 150px;
}
.courses {
	margin-left: 350px;
}
